<div class='bg'>

  <svg viewBox='0 0 800 255'>

    <!-- <circle
    cx="293"
    cy="213"
    r="65"
    fill="#57C962" />

    <polygon
    points="0,358 801,358 801,0 0,358"
    style="fill:#239AE8;" /> -->

    <circle
    cx="363"
    cy="125"
    r="65"
    fill="#57C962" />

    <polygon
    points="0,255 800,255 800,0 0,255"
    style="fill:#239AE8;" />

  </svg>

</div>

<div class='card'>

  <div class='logo-container'>

    <img
    class='logo'
    src='/assets/logo.png'
    alt='logo' />

    <span>FAKENAME</span>

  </div>

  <div class='tabs'>

    <a
    routerLink='/sign-up'
    routerLinkActive='active'>
      SIGNUP
    </a>

    <a
    routerLink='/login'
    routerLinkActive='active'>
      LOG IN
    </a>

  </div>

  <router-outlet></router-outlet>

</div>
